@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: "Roboto";
  --color-primary: #5b21b6;
  --color-dark: #4c1d95;
  --color-lighter: #f5f3ff;
  --color-light: #ddd6fe;
  --color-normalbg: #f3f4f6;
  --color-darkbg: #1e2939;
}
